
@import url(https://fonts.bunny.net/css?family=amaranth:700);
*{margin: 0;padding: 0;box-sizing: border-box;}
html{height: 100%;scroll-behavior: smooth; font-size: 67.5%;}
html{font-family: 'Amaranth', sans-serif;}
body{width: 100%; align-items: center;  justify-content: center;}
h1{font-size: 50px;}h2{font-size: 30px;}h3{font-size: 25px;}h4{font-size: 20px;}
p{font-size: 26px; font-weight: 500;} label{font-size: 26px;}
p,h1,h2,h3,h4,h5,h6{
    color: #1a1d23;   
}
body{
    background: rgb(0,35,36);
    background: linear-gradient(0deg, rgba(0,35,36,1) 27%, rgba(6,54,41,1) 50%, rgba(13,77,46,1) 68%, rgba(61,154,75,1) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{background-image: url("https://upload.wikimedia.org/wikipedia/fr/7/74/Rick_et_Morty_Logo_FR.png");
    background-size:contain ;
    background-repeat: no-repeat;
}
.x{
    height: 5rem;
    width: 5rem;
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    background-color: rgb(66, 6, 6);
    left: 90%;
    top: -4%;
    border: 5px solid white;
    opacity: 0.9;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 25px;
    transition: 0.5s;
}
.status{
    text-align: center;
}
.x:hover{
    cursor: pointer;
    scale: 1.2;
    rotate: 360deg;
    background-color: red;
}
.x:active{
    scale: 6;
    opacity: 0.5;
    background-color: rgb(255, 94, 94);
}
.deco{
    width: 30%;
    border:5px solid rgb(255, 255, 255);

    height: 2rem;
}
.container_float_row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.space_between{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.w-95{
    width: 95%;
}

.nav_bar{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: space-around;
}


.ul_navbar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 90%;
    transition: 1s;
}


li{
    cursor: pointer;
    color:#002324 ;
    height: 50px;
    width: 8%;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 20px;
   
        
}
li:hover{
 scale: 1.1;
 color: #3c3e3e;
   
}

img{
    max-width: 40%;
    max-height: 60%;
    border-radius:12px;
    border: 2px solid white;
    border-radius: 50%;
}
footer{
    height: 80px;
    width: 100%;
    background-color: #002324;
}
/* class to add */
.flip{
    transform: rotateX(150deg);
}
.scale{
    animation-duration: 0.5s;
    animation-name: scaleup;
}
.scale_down{
    animation-duration: 1s;
    animation-name: scale_down;
}
@keyframes scaleup{
    from{scale:0.5}
    to{scale:1}
}
.apearing50{
    animation-duration: 1s;
    animation-name: apear_50;
}
@keyframes apear_50{
    from{opacity: 0.1;}
    to{opacity: 0.6;}
}
.disapear{
    animation-duration: 1s;
    animation-name: dis_key;
}
@keyframes dis_key{
    from{opacity: 1;}
    to{opacity: 0;}
}
/*=============Générale ======================*/
@media screen and (max-width: 2064px) {

    p{font-size: 16px; font-weight: 500;}

    .container_all{
    margin: auto;
    width: 95%;
     height: 70rem; 
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     transition: 1s;
     flex-wrap: wrap;
     position: relative;
     box-shadow: #002324;
    }
    .kill_pop_up{
        background-color: #1a1d23;
        opacity: 0.6;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        transition: 1s;
    }
    .container_popup{
        position: absolute;
        height: 50rem;
        width: 35rem;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        z-index: 1;
        border-radius:12px;
        position: fixed;
        top: 10rem;
        -webkit-box-shadow:0px 0px 28px 0px rgba(16,94,87,0.9);
        -moz-box-shadow: 0px 0px 28px 0px rgba(16,94,87,0.9);
         box-shadow: 0px 0px 28px 0px rgba(16,94,87,0.9);
        transition: 1s;
        
    }
    .container_popup:hover{
        -webkit-box-shadow:0px 0px 105px 45px rgba(3, 48, 36, 0.9);
        -moz-box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
        box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);

    }

    .info_container_popup{
        border-radius:12px ;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 1s;
        margin: 2rem;
        height: 45rem;
        background-color: rgb(207, 215, 222);
        border: 6px solid rgb(244, 236, 236);
    }
    .img_container_pop_up{
        border-radius: 12px ;
        background-size:cover ;
        background-repeat:no-repeat ;    
        width: 90%;
        height: 65%;
        clip-path: inset(5% 20% 15% 10% round 5% 20% 0 10%);
        transition: 0.5s;
    }
    .img_container_pop_up:hover{
        scale: 1.05;
    }
    .effect{
        clip-path: polygon(62% 0, 100% 0, 38% 100%, 0 100%);
        z-index: 3;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #ffffff;
        opacity: 0.15;
    }
    .effect2{
        clip-path: polygon(36% 0, 46% 0, 0 82%, 0 69%);
        z-index: 3;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #f0f8fb;
        opacity: 0.10;
        animation-duration: 5s;
        animation-direction: reverse;
        animation-iteration-count: infinite;

    }


    

    .character_container1, .character_container2,.character_container3,.character_container4,.character_container5,.character_container6,.character_container7,.character_container8,.character_container9,.character_container10,.character_container11,.character_container12{
       
        background-color:  rgb(243, 227, 157);
        border: 1px solid rgb(101, 101, 100);
        height: 17rem;
        width: 24%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        border-radius:12px ;
        transition: 0.4s;
        -webkit-box-shadow: 10px 9px 0px 5px rgba(0,0,0,0.33); 
        box-shadow: 10px 9px 0px 5px rgba(0,0,0,0.33);
    }
    .character_container1:hover, .character_container2:hover,.character_container3:hover,.character_container4:hover,.character_container5:hover,.character_container6:hover,.character_container7:hover,.character_container8:hover,.character_container9:hover,.character_container10:hover,.character_container11:hover,.character_container12:hover{
        scale: 1.05;
        cursor: pointer;
        border: 15px solid white;
        
    }
    .character_container1:active, .character_container2:active,.character_container3:active,.character_container4:active,.character_container5:active,.character_container6:active,.character_container7:active,.character_container8:active,.character_container9:active,.character_container10:active,.character_container11:active,.character_container12:active{
        transform: rotateX(150deg);
        cursor: pointer;
        border: 15px solid white;
  
       
    }


    .image{
        height: 60%;
        width: 30%;
        background-size: contain;
        transition: 1s;

    }
    .info_container{
      
        height: 80%;
        width: 48%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        
    }
   

}
@media screen and (max-width: 1224px) {

    p{font-size: 15px; font-weight: 500;}

    .container_all{
    margin: auto;
    width: 80%;
     height: 95rem; 
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     transition: 1s;
     flex-wrap: wrap;

    }
    .container_popup{
        top: 10rem;
        position: absolute;
        height: 38rem;
        width: 25rem;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        z-index: 1;
        border-radius:12px;
        position: fixed;
        position: fixed;
    
       
    }
    .info_container_popup{
        border-radius:12px ;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 1s;
        margin: 2rem;
        height: 34rem;
        background-color: rgb(207, 215, 222);
    }

    .character_container1, .character_container2,.character_container3,.character_container4,.character_container5,.character_container6,.character_container7,.character_container8,.character_container9,.character_container10,.character_container11,.character_container12{
        background-color:  rgb(243, 227, 157);
        border: 1px solid rgb(101, 101, 100);
        height: 17rem;
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        border-radius:12px ;
        transition: 0.4s;
    }
    .image{
        height: 60%;
        width: 30%;
        background-size: contain;
        transition: 1s;
        border-radius: 50%;

    }
    .info_container{
      
        height: 80%;
        width: 45%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        
    }


}

@media screen and (max-width: 1024px) {

    p{font-size: 16px; font-weight: 500;}
    .ul_navbar{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        width: 90%;
        transition: 1s;
    }

    .container_all{
    margin: auto;
    width: 80%;
     height: 100rem; 
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     transition: 1s;
     flex-wrap: wrap;
    }
    .container_popup{
        top: 10rem;
        position: absolute;
        height: 38rem;
        width: 25rem;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        z-index: 1;
        border-radius:12px;
        position: fixed;
        position: fixed;
    
       
    }
    .info_container_popup{
        border-radius:12px ;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 1s;
        margin: 2rem;
        height: 34rem;
        background-color: rgb(207, 215, 222);
    }

    .character_container1, .character_container2,.character_container3,.character_container4,.character_container5,.character_container6,.character_container7,.character_container8,.character_container9,.character_container10,.character_container11,.character_container12{
        background-color:  rgb(243, 227, 157);
        border: 1px solid rgb(101, 101, 100);
        height: 15rem;
        width: 48%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        border-radius:12px ;
        transition: 0.4s;
    }
    .image{
        height: 60%;
        width: 30%;
        background-size: contain;
        transition: 1s;
        border-radius: 50%;
    }
    .info_container{
      
        height: 80%;
        width: 60%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        
    }


}
@media screen and (max-width: 768px) {

    p{font-size: 15px; font-weight: 500;}

    .container_all{
    margin: auto;
   
    width: 85%;
     height: 100rem; 
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     transition: 1s;
     flex-wrap: wrap;

    }
    .container_popup{
        top: 10rem;
        position: absolute;
        height: 38rem;
        width: 25rem;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        z-index: 1;
        border-radius:12px;
        position: fixed;
        position: fixed;
    
       
    }
    .info_container_popup{
        border-radius:12px ;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 1s;
        margin: 2rem;
        height: 34rem;
        background-color: rgb(207, 215, 222);
    }

    .character_container1, .character_container2,.character_container3,.character_container4,.character_container5,.character_container6,.character_container7,.character_container8,.character_container9,.character_container10,.character_container11,.character_container12{
        background-color:  rgb(243, 227, 157);
        border: 1px solid rgb(101, 101, 100);
        height: 15rem;
        width: 48%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        border-radius:12px;
        transition: 0.4s;
        flex-direction: row;
    }
    .image{
        height: 60%;
        width: 40%;
        background-size: contain;
        transition: 1s;
        border-radius: 50%;

    }
    .info_container{
     
        height: 80%;
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        
    }


}

@media screen and (max-width: 480px) {

    p{font-size: 14px; font-weight: 500;}

    .container_all{
    margin: auto;
    align-self: center;
    width: 90%;
     height: 220rem; 
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     transition: 1s;
     flex-wrap: wrap;

    }
    .container_popup{
        top: 10rem;
        position: absolute;
        height: 32rem;
        width: 20rem;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        z-index: 1;
        border-radius:12px;
        position: fixed;
    
       
    }
    .info_container_popup{
        border-radius:12px ;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 1s;
        margin: 2rem;
        height: 28rem;
        background-color: rgb(207, 215, 222);
    }

    .character_container1, .character_container2,.character_container3,.character_container4,.character_container5,.character_container6,.character_container7,.character_container8,.character_container9,.character_container10,.character_container11,.character_container12{
        background-color:  rgb(243, 227, 157);
        border: 1px solid rgb(101, 101, 100);
        height: 15rem;
        width: 90%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        border-radius:12px ;
        transition: 0.4s;
        flex-direction: row;
    }
    .image{
       
        height: 60%;
        width: 40%;
        background-size: contain;
        transition: 1s;
        border-radius: 50%;

    }
    .info_container{
     
        height: 80%;
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        
    }


}

@media screen and (max-width: 320px) {

    p{font-size: 10px; font-weight: 500;}

    .container_all{
    margin: auto;
     height: 200rem; 
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     transition: 5s;
     width: 90%;
     flex-wrap: wrap;
    }
    .character_container1, .character_container2,.character_container3,.character_container4,.character_container5,.character_container6,.character_container7,.character_container8,.character_container9,.character_container10,.character_container11,.character_container12{
        background-color:  rgb(243, 227, 157);
        border: 1px solid rgb(101, 101, 100);
        height: 14rem;
        width: 80%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        border-radius:12px ;
        transition: 1s;
        flex-direction: row;
    }
    .image{
  
        height: 60%;
        width: 40%;
        background-size: contain;
        transition: 1s;
        border-radius: 50%;

    }
    .info_container{
        
        height: 80%;
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        
    }



}

/*Patternes*/
.pat1{
    background: rgb(0,35,36);
    background: linear-gradient(0deg, rgba(0,35,36,1) 27%, rgba(6,54,41,1) 50%, rgba(13,77,46,1) 68%, rgba(61,154,75,1) 90%);
    }